
    .webform-required {
        margin-bottom: 40px;
        margin-top: -40px;
    }

    /* .webform-submission-nom-du-formulaire-form */

    .webform-submission-formulaire-espace-service-form {
        margin: 0 -15px !important;
        padding-top: 25px;
    }


    /* Infos régions agence */

    .js-form-item.form-item.js-form-type-select.form-item-region-agence-region.js-form-item-region-agence-region.form-item-select
    {
        background-color: #FAFAFA;
    }



    .js-form-item.form-item.js-form-type-select.form-item-region-agence-agency.js-form-item-region-agence-agency.form-item-select
    {
        background-color: #FAFAFA;
    }

    select#edit-region-agence-region, 
    select#edit-region-agence-agency {
        BACKGROUND-COLOR: WHITE;
    }

    span.field-prefix {
        font-size: 17px;
        font-weight: 600;
        line-height: 3rem;
    }


    .form-item .description {
        color: #8B90A2;
        margin: 5px 2px;
        margin-bottom: 2rem;
    }

    .form-item .description {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1rem;
    }



    /* Pour modifier le fieldset : nos services de rénovation énergétiques */
    
    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="edit-nos-services-renovation-energetiques"] legend span {
        font-size: 18px !important;
        line-height: 1 !important;
        font-weight: 700 !important;
        color: #E75012 !important;
        padding: 0 !important;
        display: block;
    }

    

    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="edit-nos-services-renovation-energetiques"] legend {
        display: block;
        width: 100%;
        margin: 10px -15px;
        width: calc(100% + 30px);
        padding: 30px 15px;
        background-color: #FFF;
       


    }
    

    fieldset#edit-nos-services-renovation-energetiques--wrapper {
        background-color: white;
        width: calc(100% + 30px);
        padding: 2px 15px;
    }

    

    .webform-submission-formulaire-espace-service-form .form-item {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 8px 15px;
    }

    .webform-submission-formulaire-espace-service-form .form-item-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .webform-submission-formulaire-espace-service-form .form-item-wrapper label {
        display: block !important;
        position: relative !important;
        top: initial !important;
        left: initial !important;
        font-size: 14px !important;
        line-height: 19px !important;
        color: #000 !important;
        font-weight: 700 !important;
        transform: initial !important;
        margin-bottom: 10px !important;
    }

    .webform-submission-formulaire-espace-service-form .form-required {
        position: relative;
        display: inline-block !important;
    }

    .webform-submission-formulaire-espace-service-form .form-required::after {
        content: " *";
    }

    .webform-submission-formulaire-espace-service-form .form-item-wrapper input {
        height: auto !important;
        padding: 10px 40px 10px 15px;
        font-size: 14px !important;
        line-height: 19px !important;
        border-radius: 10px;
    }

    input#edit-produits-achetes-chez-point-p-items-0-item- {
        margin-left: -1rem;
    }



    .webform-submission-formulaire-espace-service-form #edit-participant,
    .webform-submission-formulaire-espace-service-form #edit-adresse-de-la-societe,
    .webform-submission-formulaire-espace-service-form #edit-representee-par {
        border: 1px solid #E75012;
    }

    .webform-submission-formulaire-espace-service-form #edit-participant legend,
    .webform-submission-formulaire-espace-service-form #edit-adresse-de-la-societe legend,
    .webform-submission-formulaire-espace-service-form #edit-representee-par legend {
        padding: 0 10px;
    }



    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="edit-nos-services-renovation-energetiques"] legend {
        display: block;
        width: 100%;
        margin: 10px -15px;
        width: calc(100% + 30px);
        padding: 30px 15px;
        background-color: #FFF;
    }
    


    
    .webform-submission-formulaire-espace-service-form #edit-infos-client span.fieldset-legend,
    .webform-submission-formulaire-espace-service-form #edit-infos-agence span.fieldset-legend {
        color: #E75012;
        padding: 12px;
    }

    .webform-submission-formulaire-espace-service-form #edit-participant .fieldset-wrapper,
    .webform-submission-formulaire-espace-service-form #edit-adresse-de-la-societe .fieldset-wrapper,
    .webform-submission-formulaire-espace-service-form #edit-representee-par .fieldset-wrapper,
    .webform-submission-formulaire-espace-service-form #edit-je-depose-mes-documents .fieldset-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }



    .webform-submission-formulaire-espace-service-form #edit-je-depose-mes-documents {
        margin: 25px 0 0;
    }

    .webform-submission-formulaire-espace-service-form #edit-je-depose-mes-documents>legend {
        font-size: 18px !important;
        line-height: 1 !important;
        font-weight: 700 !important;
        padding: 0 !important;
    }

    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="dit-nos-services-renovation-energetiques-devenir-rge-avec-pointp"] {
        margin: 30px 0 !important;
        background-color: #FFF;
    }

    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="dit-nos-services-renovation-energetiques-devenir-rge-avec-pointp"]:after {
        content: "* Champ obligatoire";
        bottom: -6px;
        transform: translateY(100%);
        position: absolute;
        right: 0;
        margin-right: 15px;
    }

    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="dit-nos-services-renovation-energetiques-devenir-rge-avec-pointp"] legend {
        display: block;
        width: 100%;
        margin: 10px -15px;
        width: calc(100% + 30px);
        padding: 30px 15px;
        background-color: #FFF;
    }

    .webform-submission-formulaire-espace-service-form [data-drupal-selector*="dit-nos-services-renovation-energetiques-devenir-rge-avec-pointp"] legend span {
        font-size: 18px !important;
        line-height: 1 !important;
        font-weight: 700 !important;
        color: #E75012 !important;
        padding: 0 !important;
        display: block;
    }

    .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    /* .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"]:last-child {
        max-width: 100%;
        flex: 0 0 100%;
    } */

    .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] .webform-managed-file-preview {
        padding-left: 15px;
        font-size: 16px;
    }

    .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] .webform-managed-file-preview label {
        font-weight: 500 !important;
    }

    .webform-managed-file-preview-wrapper,
    .webform-managed-file-preview-wrapper.form-item {
        border: 0;
        margin-bottom: 0;
    }

    .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] .button {
        opacity: 1;
        margin: 0;
        margin: 25px 0 20px 0;
        padding: 5px 15px !important;
    }

    .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] .button:hover,
    .webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] .button:focus {
        background-color: rgba(255, 255, 255, .4);
    }

    .webform-submission-formulaire-espace-service-form .form-item-presentation-images,
    .webform-submission-formulaire-espace-service-form .form-item-presentation-video,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-mon-pv-de-reception,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-tout-autre-justificatif-attestant-de-la-conformite-de-,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-les-attestations-de-droit-a-l-image {
        background-color: #E75012;
        padding: 15px;
        width: 100%;
        min-height: 170px;
        margin: 0;
    }

    .webform-submission-formulaire-espace-service-form .form-item-presentation-video input,
    .webform-submission-formulaire-espace-service-form .form-item-presentation-images input,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-mon-pv-de-reception input,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-tout-autre-justificatif-attestant-de-la-conformite-de- input,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-les-attestations-de-droit-a-l-image input {
        color: #FFF !important;
    }

    .webform-submission-formulaire-espace-service-form .form-item-presentation-video label,
    .webform-submission-formulaire-espace-service-form .form-item-presentation-images label,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-mon-pv-de-reception label,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-tout-autre-justificatif-attestant-de-la-conformite-de- label,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-les-attestations-de-droit-a-l-image label {
        display: block !important;
        color: #FFF !important;
        max-width: 100%;
    }

    .webform-submission-formulaire-espace-service-form .form-item-presentation-video .description,
    .webform-submission-formulaire-espace-service-form .form-item-presentation-images .description,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-mon-pv-de-reception .description,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-tout-autre-justificatif-attestant-de-la-conformite-de- .description,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-les-attestations-de-droit-a-l-image .description {
        color: #FFF !important;
        font-size: 12px;
        margin: 0;
        line-height: 1.3;
    }

    .webform-submission-formulaire-espace-service-form .form-item-presentation-video .description br,
    .webform-submission-formulaire-espace-service-form .form-item-presentation-images .description br,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-mon-pv-de-reception .description br,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-tout-autre-justificatif-attestant-de-la-conformite-de- .description br,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-les-attestations-de-droit-a-l-image .description br {
        display: none !important;
    }

    .form-item-presentation-images .webform-submission-formulaire-espace-service-form .form-item-presentation-video .form-wrapper,
    .webform-submission-formulaire-espace-service-form .form-item-presentation-images .form-wrapper,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-mon-pv-de-reception .form-wrapper,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-tout-autre-justificatif-attestant-de-la-conformite-de- .form-wrapper,
    .webform-submission-formulaire-espace-service-form .form-item-je-depose-les-attestations-de-droit-a-l-image .form-wrapper {
        color: #FFF !important;
    }

    .webform-submission-formulaire-espace-service-form #edit-nos-services-renovation-energetiques-devenir-rge-avec-pointp .form-item {
        margin-bottom: 30px;
        padding: 0;
    }

    .webform-submission-formulaire-espace-service-form #edit-nos-services-renovation-energetiques-devenir-rge-avec-pointp .form-item label {
        padding-left: 45px !important;
        margin-bottom: 5px !important;
        font-size: 14px !important;
        line-height: 19px !important;
        font-weight: 700 !important;
        color: #000 !important;
        position: relative;
        height: auto !important;
    }

    .webform-submission-formulaire-espace-service-form #edit-nos-services-renovation-energetiques-devenir-rge-avec-pointp .form-item .description {
        padding-left: 45px !important;
        margin: 0 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #000 !important;
    }


    .check-label .checkmark {
        height: 25px;
        width: 25px;
        border: 1px solid #E85A20;
        border-radius: 0;
        background-color: #FFF;
    }
    
    
    .webform-submission-formulaire-espace-service-form #edit-nos-services-renovation-energetiques-devenir-rge-avec-pointp .form-item .check-label .checkmark {
        height: 25px;
        width: 25px;
        border: 1px solid #E85A20;
        border-radius: 0;
        background-color: #FFF;
    }

    

    .form-item .check-label .checkmark:after {
        position: relative;
        left: 6px;
        top: 2px;
        width: 10px;
        height: 16px;
    }


    .webform-submission-formulaire-espace-service-form #edit-nos-services-renovation-energetiques-devenir-rge-avec-pointp .form-item .check-label input:checked~.checkmark {
        background-color: #E85A20;
    }

    .webform-submission-formulaire-espace-service-form #edit-acceptation-conditions-participation .form-item,
    .webform-submission-formulaire-espace-service-form #edit-je-certifie-avoir-tous-les-droits-pour-produire-des-images-et-ou .form-item {
        padding: 0;
        margin-bottom: 30px;
    }

    .webform-submission-formulaire-espace-service-form #edit-acceptation-conditions-participation label,
    .webform-submission-formulaire-espace-service-form #edit-je-certifie-avoir-tous-les-droits-pour-produire-des-images-et-ou label {
        font-size: 14px !important;
        line-height: 1 !important;
        color: #000 !important;
        padding-left: 25px !important;
    }

    .webform-submission-formulaire-espace-service-form #edit-acceptation-conditions-participation .form-item .check-label .checkmark,
    .webform-submission-formulaire-espace-service-form #edit-je-certifie-avoir-tous-les-droits-pour-produire-des-images-et-ou .form-item .check-label .checkmark {
        height: 15px;
        width: 15px;
        border: 1px solid #000;
        border-radius: 0;
        background-color: #FFF;
    }

    .webform-submission-formulaire-espace-service-form #edit-acceptation-conditions-participation .form-item .check-label .checkmark:after,
    .webform-submission-formulaire-espace-service-form #edit-je-certifie-avoir-tous-les-droits-pour-produire-des-images-et-ou .form-item .check-label .checkmark:after {
        left: 4px;
        top: 1px;
        width: 5px;
        height: 9px;
    }

    .webform-submission-formulaire-espace-service-form #edit-acceptation-conditions-participation .form-item .check-label input:checked~.checkmark,
    .webform-submission-formulaire-espace-service-form #edit-je-certifie-avoir-tous-les-droits-pour-produire-des-images-et-ou .form-item .check-label input:checked~.checkmark {
        background-color: #000;
    }

    .webform-submission-formulaire-espace-service-form #edit-acceptation-conditions-participation--wrapper--description a {
        text-decoration: underline;
        font-weight: 700;
        color: #E85A20;
    }

    .webform-submission-formulaire-espace-service-form .form-submit {
        display: inline-block;
        padding: 12px 55px;
        border-radius: 2px;
        border: 1px solid #E75012;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        background-color: #E75012;
        transition: .2s;
        height: auto;
        margin-top: 30px;
    }

    .webform-submission-formulaire-espace-service-form .form-submit:hover,
    .webform-submission-formulaire-espace-service-form .form-submit:focus {
        color: #E75012;
        background-color: #FFF;
    }

    #edit-presentation-video--more,
    #edit-presentation-video--more--content {
        margin-top: 10px;
    }

    #edit-presentation-video--more a {
        color: #FFF;
        text-decoration: underline;
    }


    #edit-presentation-images--more,
    #edit-presentation-images--more--content {
        margin-top: 10px;
    }

    #edit-presentation-images--more a {
        color: #FFF;
        text-decoration: underline;
    }


    @media screen and (max-width: 650px) {
       
        input#edit-produits-achetes-chez-point-p-items-0-item- {
            margin-left: -1.8rem;
        }
    }

    @media (min-width: 768px) {

        /*.webform-submission-formulaire-espace-service-form [id*="ajax-wrapper"] {
            max-width: 50%;
            flex: 0 0 50%;
        }*/


        .webform-submission-formulaire-espace-service-form .form-item.col {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .webform-submission-formulaire-espace-service-form .js-form-type-managed-file.file-empty .file {
        color: white;
        background: url(/s/imgs/pages/trophees-dor/uploadV2.png) left center no-repeat;
        padding: 0 0 0 30px;
    }

    .messages .info li {
        text-align: center;
        color: #fff;
        background: #e75012;
        padding: 5px;
        font-size: 20px;
    }

    .webform-submission-formulaire-espace-service-form .form-item-presentation-images .form-wrapper,
    .webform-submission-formulaire-espace-service-form .form-item-wrapper .form-managed-file .managed-file-placeholder {
        color: #FFF !important;
        font-size: 18px !important;
        line-height: 16px !important;
    }


    .webform-submission-formulaire-espace-service-form .form-item-wrapper .form-managed-file .managed-file-placeholder {
        padding-bottom: 10px !important;
    }


    @media (max-width: 768px) {

        .webform-multiple-table-responsive td.webform-multiple-table--operations {
            position: relative;
            right: 0;
        }

    }

  @media only screen and (min-width: 1200px) {
      .banniere-formulaire {
    margin: -90px -60px;
   }
}

